<!DOCTYPE html>
<html lang="en">

<head>
    <meta meta name="csrf-token" content="{{ csrf_token() }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta</title>





    {% block customCSS %}
    <!-- Booststrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS-->

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <!-- Libraries Stylesheet -->
    <!--link rel="stylesheet" href="{{ url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}"-->
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">


    {% endblock %}
</head>
{% block body %}
<div class="container-fluid position-relative d-flex p-0">
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="sidebar bg-secondary pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="{{ url_for('home')}}" class="navbar-brand mx-4 mb-3">
                <img class="mb-4" src="{{ url_for('static', filename='img/logofi.png') }}" alt="" width="90"
                    height="80">
                <span>
                    <h5>{{ current_user.rol }}</h5>
                </span>
            </a>

            <div class="navbar-nav w-100">
                <a href="{{ url_for('home')}}" class="nav-item nav-link "><i
                        class="fa fa-tachometer-alt me-2"></i>Inicio</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i
                            class="fa fa-shopping-cart me-2"></i>Ventas</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ url_for('venta')}}" class="dropdown-item">Agregar Venta</a>
                        <a href="{{ url_for('view_venta')}}" class="dropdown-item">Ver Venta</a>
                        
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fa fa-cart-plus me-2"></i>Compras</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ url_for('compra')}}" class="dropdown-item">Agregar Compra</a>
                        <a href="{{ url_for('view_compra')}}" class="dropdown-item">Ver compra</a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fa fa-address-card me-2"></i>Proveedores</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ url_for('proveedor')}}" class="dropdown-item">Agregar proveedores</a>
                        <a href="{{ url_for('view_proveedor')}}" class="dropdown-item">Ver proveedores</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class=" fa fa-gem me-2"></i>Productos</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ url_for('producto')}}" class="dropdown-item">Agregar productos</a>
                        <a href="{{ url_for('view_producto')}}" class="dropdown-item">Ver productos</a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fas fa-copyright me-2"></i>Marca</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ url_for('marca')}}" class="dropdown-item">Agregar Marca</a>
                        <a href="{{ url_for('view_marca')}}" class="dropdown-item">Ver Marcas</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fas fa-grip-vertical me-2"></i>Categoria</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ url_for('categoria')}}" class="dropdown-item">Agregar categoria</a>
                        <a href="{{ url_for('view_categoria')}}" class="dropdown-item">Ver categorias</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fas fa-user-edit me-2"></i>Clientes</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ url_for('cliente')}}" class="dropdown-item">Agregar cliente</a>
                        <a href="{{ url_for('view_cliente')}}" class="dropdown-item">Ver clientes</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fas fa-user-lock me-2"></i>Usuarios</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ url_for('usuario')}}" class="dropdown-item">Agregar usuario</a>
                        <a href="{{ url_for('view_usuario')}}" class="dropdown-item">Ver usuarios</a>
                    </div>
                </div>
            </div>

        </nav>
    </div>
    <div class="content">
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">

            <a href="{{ url_for('home')}}" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary"><i>B&Roh</i></h2>
            </a>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="d-none d-lg-inline-flex">
                            <h5>{{ current_user.nombre }}</h5>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="{{ url_for('configuracion', id=current_user.id) }}" class="dropdown-item">Mi Perfil</a>
                        <a href="{{ url_for('logout')}}" class="dropdown-item">Cerrar Sesion</a>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}
        <div class="container-fluid pt-4 px-4">
            <div class="row ">
                <div class="bg-secondarya rounded h-100 p-4">
                    <h1>Venta</h1>
                    {%with messages = get_flashed_messages() %}
                    {% if messages%}
                    <br />
                    {% for message in messages %}
                    <div class="alert  alert-primary alert-dismissible" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>

                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form name="datos_cliente" id="datos_cliente" class="datos" action="#">
                        <div class="wd30">
                            <label>Codigo cliente</label>
                            <input type="text" name="codcliente" id="codcliente">
                            <div class="div dw50">
                                <a href="#" class="btn_ok textcenter" data-bs-toggle="modal"
                                    data-bs-target="#clientemodal"><i class="
                                            far fa-edit"></i></a>
                            </div>
                        </div>

                        <div class="wd30">
                            <label>Nombre</label>
                            <input type="text" name="nombre" id="nombre" disabled required>
                        </div>
                        <div class="wd30">
                            <label>Direccion</label>
                            <input type="text" name="direccion" id="direccion" disabled required>
                        </div>
                        <div class="wd30">
                            <label>Telefono</label>
                            <input type="text" name="tel" id="tel" disabled required>
                        </div>
                    </form>
                    <hr>

                    <!-- Modal -->
                    <div id="clientemodal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="/add_clienteventa">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <div class="conqui">
                                            <div class="inputBox">
                                                <input type="tel" name="nombre" required="">
                                                <label>Nombre Cliente</label>
                                            </div>
                                            <div class="inputBox">
                                                <input type="text" name="apellido" required="">
                                                <label>Apellido Cliente</label>
                                            </div>
                                            
                                        </div>
                                        <br>
                                        <div class="conqui">
                                        <div class="inputBox">
                                                <input type="text" name="direccion" required="">
                                                <label>Direccion</label>
                                            </div><div class="inputBox">
                                                <input type="text" name="telefono" required="">
                                                <label>Telefono</label>
                                            </div></div>
                                        <br>
                                        <div class="conqui">
                                            
                                            <div class="inputBox">
                                                <input type="email" name="email" required="">
                                                <label>Email</label>
                                            </div>
                                            <div class="inputBox">
                                                <input type="text" name="descripcion" required="">
                                                <label>Descripcion</label>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="conqui">
                                            <div class="inputBox">
                                                <input type="text" name="estado" required="">
                                                <label>Estado</label>
                                            </div>
                                            <div class="inputBox">
                                                <input type="date" name="fecha" required="">
                                            </div>
                                        </div>
                                        <br><br>
                                        <input class="btn btn-primary" type="submit" placeholder="Enviar">
                                        <span></span>
                                        <input class="btn btn-primary" type="reset" placeholder="Limpiar">
                                    </form>
                                    <div id="successAlert" class="alert alert-success" role="alert"
                                        style="display:none;"></div>
                                    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="datos_venta">

                        <div class="datos">
                            <div class="dw50">
                                <label>Codigo Venta</label>
                                <input type="text" name="codigoventa" id="codigo_venta" required>
                            </div>
                            <div class="inputBox">
                                <label>Vendedor</label><br>
                                <p>{{ current_user.nombre }}</p>
                            </div>
                            <div class="dw50">
                                <label>Acciones</label><br>
                                <a href="#" class="btn_ok textcenter" id="btn_anular_venta"><i class="
                                        fas fa-ban">Anular</i></a>
                                <a href="#" class="btn_ok textcenter" style="display: none;" id="btn_facturar_venta"><i
                                        class="
                                            far fa-edit">Realizar</i></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class=" rounded h-100 p-4">
                        <div class="div table-responsive">
                            <table class="table">
                                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ current_user.id }}">
                                <thead>
                                    <tr>
                                        <th width="100px">Codigo</th>
                                        <th>descripcion</th>
                                        <th>Existencias</th>
                                        <th width="100px">Cantidad</th>
                                        <th class="textright">Precio</th>
                                        <th class="textright">Total</th>
                                        <th>Actividad</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="codigo producto" id="codigoproducto"></td>
                                        <td id="descripcion">-</td>
                                        <td id="existencias">-</td>
                                        <td>
                                            <div class="inputBox"><input type="number" name="cantidadproducto"
                                                    id="cantidadproducto" value="0" min="1" disabled></div>
                                        </td>
                                        <td id="precio" class="textright">0.00</td>
                                        <td id="precio_total" class="textright">0.00</td>
                                        <td> <a href="#" id="agregar_productoo" class="link-add"><i class="fas fa-plus">
                                                    Agregar</i></a></td>
                                    </tr>
                                    <tr>
                                        <th>Codigo</th>
                                        <th colspan="2">descripcion</th>
                                        <th>Cantidad</th>
                                        <th class="textright">Precio</th>
                                        <th class="textright">Total</th>
                                        <th>Actividad</th>
                                    </tr>
                                </thead>
                                <tbody id="detalle_venta">
                                    <!-- contenido ajax-->
                                </tbody>
                                <tfoot id="detalle_totales">
                                    <!-- contenido ajax-->
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/lib/chart/chart.min.js"></script>
<script src="/static/lib/easing/easing.min.js"></script>
<script src="/static/lib/waypoints/waypoints.min.js"></script>
<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/static/lib/tempusdominus/js/moment.min.js"></script>
<script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/static/js/main.js"></script>
<!-- Template Javascript -->
<script>
    var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });


    var usuarioid = '{{ current_user.id }}';
    $(document).ready(function () {
        var usuarioid = '{{ current_user.id }}';
        searchForDetalle(usuarioid);


        $('#codcliente').keyup(function (e) {
            e.preventDefault();

            var cl = $(this).val();
            var action = 'searchCliente';
            var ca = $('#codcliente').val();

            $.ajax({
                url: '/sacar_cliente',
                type: "POST",
                async: true,
                data: { action: action, cliente: cl },
                success: function (response) {
                    console.log(response);
                    if (response == 0) {

                        $('#nombre').val('');
                        $('#direccion').val('');
                        $('#tel').val('');
                    } else {
                        var data = $.parseJSON(response);
                        $('#nombre').val(data.nombre);
                        $('#direccion').val(data.direccion);
                        $('#tel').val(data.telefono);

                        $('#nombre').attr('disabled', 'disabled');
                        $('#direccion').attr('disabled', 'disabled');
                        $('#tel').attr('disabled', 'disabled');
                    }
                },
                error: function (error) {

                }
            });
        });
        /*Para el producto con ajax*/

        $('#codigoproducto').keyup(function (e) {
            e.preventDefault();

            var producto = $(this).val();
            var action = 'infoProducto';

            $.ajax({
                url: '/sacar_producto',
                type: "POST",
                async: true,
                data: { action: action, producto: producto },
                success: function (response) {
                    console.log(response);
                    if (response != 0) {
                        var data = $.parseJSON(response);

                        $('#descripcion').html(data.nombre);
                        $('#existencias').html(data.stock);
                        $('#cantidadproducto').val('1')
                        $('#precio').html(data.precio);
                        $('#precio_total').html(data.precio);
                        // habilitar cantidad
                        $('#cantidadproducto').removeAttr('disabled')
                        //mostrar boton
                        $('#agregar_productoo').slideDown();
                    } else {

                        $('#descripcion').html('-');
                        $('#existencias').html('-');
                        $('#cantidadproducto').val('0')
                        $('#precio').html('0.00');
                        $('#precio_total').html('0.00');
                        // deshabilitar cantidad
                        $('#cantidadproducto').attr('disabled', 'disabled');
                        //ocultar boton
                        $('#agregar_productoo').slideUp();
                    }
                },
                error: function (error) {

                }
            });
        });

        //multi cant y precio
        $('#cantidadproducto').keyup(function (e) {
            e.preventDefault();
            var precio_total = $(this).val() * $('#precio').html();
            $('#precio_total').html(precio_total);

            if ($(this).val() < 1 || isNaN($(this).val()) || ($(this).val() > $('#existencias').html())) {
                $('#agregar_productoo').slideUp();
                $('#precio_total').html('0.00');
            } else {
                $('#agregar_productoo').slideDown();
            }
            /**
                if($(this).val() > $('#existencias').html()){
                    $('#agregar_productoo').slideUp();
                }else{
                    $('#agregar_productoo').slideDown();
                }
            */
        });


        // agreegar detalle
        $('#agregar_productoo').click(function (e) {
            e.preventDefault();
            if ($('#cantidadproducto').val() > 0) {
                var codproducto = $('#codigoproducto').val();
                var cantidad = $('#cantidadproducto').val();
                var token = usuarioid;
                var action = 'addproductodetalle';

                $.ajax({
                    url: '/detallejx',
                    type: "POST",
                    async: true,
                    data: { action: action, codproducto: codproducto, cantidad: cantidad, token: token },

                    success: function (response) {
                        /*console.log(response)*/
                        if (response != 'error') {
                            var info = JSON.parse(response);
                            $('#detalle_venta').html(info.detalle)
                            $('#detalle_totales').html(info.totales)

                            $('#codigoproducto').val(' ')
                            $('#descripcion').html('-');
                            $('#existencias').html('-');
                            $('#precio').html('0.00');
                            $('#cantidadproducto').val('0')
                            $('#precio_total').html('0.00');

                            $('#cantidadproducto').attr('disabled', 'disabled');

                            $('#agregar_productoo').slideUp();
                        }
                        else {
                            console.log('No hay info')
                        }
                        viewprocesar();
                    },
                    error: function (error) {

                    }
                });
            }
        });

        // vaciar
        $('#btn_anular_venta').click(function (e) {
            e.preventDefault();
            var rows = $('#detalle_venta tr').length;
            if (rows > 0) {
                var action = 'anularventa';
                //var token = 'IjEzMjAyMzllYjljZTM0MjJlNTRiNzFlOWY1MjZkMDNkNmZmZTdlNmUi.Y0eg5A.NAyZEsSEkO0Iyrb8rOVWtzoLB3Q'
                var token = usuarioid;
                $.ajax({
                    url: '/anularventa',
                    type: "POST",
                    async: true,
                    data: { action: action, token: token },
                    success: function (response) {
                        console.log(response);
                        if (response != 'error') {
                            location.reload();
                        }
                    },
                    error: function (error) {

                    }
                });
            }
            else {

            }

        });

        //facturar_venta
        $('#btn_facturar_venta').click(function (e) {
            e.preventDefault();
            var rows = $('#detalle_venta tr').length;
            if (rows > 0) {
                var action = 'procesarventa';
                var user = usuarioid;
                var id_cliente = $('#codcliente').val();
                var token = 'IjEzMjAyMzllYjljZTM0MjJlNTRiNzFlOWY1MjZkMDNkNmZmZTdlNmUi.Y0eg5A.NAyZEsSEkO0Iyrb8rOVWtzoLB3Q'
                $.ajax({
                    url: '/procesarventa',
                    type: "POST",
                    async: true,
                    data: { action: action, id_cliente: id_cliente, token: token, user: user },
                    success: function (response) {
                        // console.log(response);

                        if (response != 'error') {
                            //console.log(response);
                            location.reload();
                            //var info = JSON.parse(response)
                            //

                        } else {
                            console.log('no info')
                        }
                    },
                    error: function (error) {

                    }
                });
            }
            else {

            }

        });

    });

    function viewprocesar() {
        if ($('#detalle_venta tr').length > 0) {
            $('#btn_facturar_venta').show();
        } else {
            $('#btn_facturar_venta').hide();
        }
    };

    function searchForDetalle(id) {
        var action = 'searchForDetalle';
        var user = id;
        $.ajax({
            url: '/buscarpordetalle',
            type: "POST",
            async: true,
            data: { action: action, user: user },
            success: function (response) {
                if (response != 'error') {
                    var info = JSON.parse(response);
                    $('#detalle_venta').html(info.detalle)
                    $('#detalle_totales').html(info.totales)

                } else {
                    console.log('No hay info')
                }
                viewprocesar();
            },
            error: function (error) {
            }
        });
    };

    function del_producto_detalle(correlativo) {
        var action = 'delForDetalle';
        var id_detalle = correlativo;
        var user = usuarioid;
        $.ajax({
            url: '/delpordetalle',
            type: "POST",
            async: true,
            data: { action: action, id_detalle: id_detalle, user:user},
            success: function (response) {
                if (response != 'error') {
                    var info = JSON.parse(response)
                    $('#detalle_venta').html(info.detalle)
                    $('#detalle_totales').html(info.totales)

                    $('#codigoproducto').val(' ')
                    $('#descripcion').html('-');
                    $('#existencias').html('-');
                    $('#precio').html('0.00');
                    $('#cantidadproducto').val('0')
                    $('#precio_total').html('0.00');

                    $('#cantidadproducto').attr('disabled', 'disabled');

                    $('#agregar_productoo').slideUp();

                } else {
                    $('#detalle_venta').html('')
                    $('#detalle_totales').html('')
                }
                viewprocesar();
            },
            error: function (error) {
            }
        });
    };
</script>
{% endblock %}

</html>